h1{
    margin-left: 10px;
    font-family: Gineso-condensed, sans-serif !important;
    /* text-align: center; */
    color:brown
}

p{
    margin-left: 10px;
    margin-right: 10px;
    font-size:1em;
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
html,body{
    height: 100%;
}

td,tr{
    text-align: left;
    border:solid thin;
    
}

.loginDiv{
    width: 30%;
    background:white;
    overflow: hidden;
    margin: 0 auto;
}

.loginInput{
    text-align: center;
}

.loginText{
    text-align: center;
}

.login-button{
    cursor:pointer;
    margin-top:10px;
}

.table{
    width:100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.pictureSlot{
    text-align: center;
}

.removeSlot{
    text-align: center;
}

.downloadDiv{
    text-align: center;
}

.downloadButton{
    background: #5599FF;
    width: 14vw;
    height: 3vw;
    cursor: pointer;
    color:white;
    font-Size:1.25vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.removeButton{
    background-color: red;
    color:white;
    cursor:pointer;
}
.login{
    word-spacing:normal;
    float: right;
    width: 110px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
}
.map-container{
    height:100vh;
    width:auto;
}


.home_title{
    font-family: Gineso-condensed, sans-serif !important;
    text-align: center;
    color:brown
}
.mapboxgl-map{
    height: 85%;
    width:100%;
}

.article{
    width: 60%;
    /* max-width: 1260px;
    min-width: 755px; */
    margin: 0 auto;
    overflow: hidden;
    background: white;
    min-height: 100%;
}

.background{
    background: #f6f6f6;
    min-height:100%;
}
.vt-logo{
    display:block;
    position:relative;
    /* width:100%; */
    max-width:40%;
    min-width:350px;
    float:left;
}

.vt-logo-link{
    display:flex;
    position:relative;
    -webkit-box-align: center;
    align-items:center;
    max-width:400px;
    height:64px;
    overflow:hidden;
    text-decoration:none !important;
}

.vt-logo-divider{
    display: block;
    position: relative;
    border-left: 2px solid #e87722;
    margin: 0 1em 0 calc(1em - 2px);
    height: 3em;
    padding-top: 3em;
    font-weight:400;
    box-sizing: border-box;
    font-family: Acherus,sans-serif;
    font-size: 1rem;
    line-height:1.5;
    text-align:left;
}

.vt-logo-image{
    max-height:3em;
    min-height:1em;
}

.vt-logo-text{
    font-size:clamp(1.1rem, 4.2vw, 1.6rem);
    max-width:300px;
    min-width:205px;
    font-size: .4;
    display: block;
    position: relative;
    color: #861f41;
    font-family:Arial, Helvetica, sans-serif;
    font-stretch:ultra-condensed;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    line-height:1;
}

.title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size:50px;
    color: #861f41;
    position:relative;
    display: block;
    max-width:600px;
    float:right;
    right: 15px;
}


.navigation {
    width:100%;
    font-weight:400;
    line-height:11px;
    margin:0 auto;
    overflow:hidden;
    background-color:#861f41;
}

.navlist{
    word-spacing: 10em;
}

.navtab{
    width:100%;
    min-width: 100px;
    max-width: 300px;
    -webkit-box-align: center;
    color:#fff;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight: 600;
}